video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.loadingScreen {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.loadingScreen__board {
	padding: 30px;
	text-align: center;
}

.loadingScreen__title {
	font-size: 3rem;
	color: rgba(0, 0, 0, 0.5);
	margin: 0;
	margin-bottom: 8px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

.loadingScreen__button {
	padding: 8px 32px;
	background-color: rgba(0, 149, 7, 0.729);
	color: white;
	border: none;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 8px;
	transition: background-color 0.4s;
}

.loadingScreen__button:hover {
	background-color: rgba(0, 119, 32, 0.754);
	cursor: pointer;
}

.loadingScreen__button:disabled {
	cursor: not-allowed;
}

.loadingScreen__progress {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
}

.loadingScreen__progress__value {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 149, 7, 0.729);
	transition: width 0.3s;
}
