.alreadyfixedinformation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    display: flex;
    height: 220px;
    width: 90px;
    top: 50px;
    bottom: 590px;
    text-align: center;
    background: green;
    border-radius: 10px;
    color: white;
    padding: 25px;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    opacity: 0.8;
    animation: fadeIn 1s;
    gap: 20px;
}

.platformnamesalign {
    display: flex;
}

.platformnames {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}