.reload {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	height: 190px;
	width: 500px;
	top: 50px;
	padding: 30px;
	bottom: 590px;
	text-align: center;
	background: #3aaa35;
	border-radius: 10px;
	color: white;
	font-size: 50px;
	align-items: center;
	vertical-align: center;
	opacity: 0.9;
	animation: fadeIn 1s;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.buttons button {
	background: darkgreen;
	color: white;
	font-size: 16px;
	padding: 15px 30px 15px 30px;
	margin: 20px;
	border-radius: 50px;
	border-style: none;
	cursor: pointer;
}

@media (max-width: 820px) {
	.reload {
		top: 150px;
		width: 400px;
		height: 100px;
		font-size: 30px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}
