.imgScreen {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.img-screen-text-heading {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color:  #dddddd;
    position: absolute;
    top: 17px;
    left: 50px;
}
.img-screen-text {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #3aaa35;
    position: absolute;
    top: 100px;
    left: 95px;
}
@keyframes dots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

@keyframes pump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.dot-animation::after {
    content: "";
    animation: dots 1s infinite alternate;
}
.pump-animation {
    font-size: 28px;
    animation: pump 1s infinite alternate;
}
