.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: -350px;
    height: 120px;
    width: 400px;
    top: 20%;
    bottom: 590px;
    text-align: center;
    background: #3aaa35;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    vertical-align: center;
    opacity: 0.9;
    animation: fadeIn 1s;
    pointer-events: none;
}

.test {
    width: 0;
    height: 0;
    position: absolute;
    left: 10px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #3aaa35;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}