.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: 400px;
    text-align: center;
    background: #3aaa35;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-size: 20px;
    align-items: center;
    vertical-align: center;
    opacity: 0.9;
    animation: fadeIn 1s;
    pointer-events: none;
    top: calc(50vh - 280px);
    left: calc(50vw - 50px);
    position: fixed;
}

.triangle {
    width: 0;
    height: 0;
    position: fixed;
    top: calc(50vh - 130px);
    left: calc(50vw - 15px);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #3aaa35;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}