.win {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 500px;
    right: 500px;
    top: 50px;
    bottom: 590px;
    text-align: center;
    background: green;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    align-items: center;
    vertical-align: center;
    opacity: 0.9;
    animation: fadeIn 1s;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background: darkgreen;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
