.button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 120px;
    width: 600px;
    top: 50px;
    bottom: 590px;
    text-align: center;
    background: #3aaa35;
    border-radius: 10px;
    color: white;
    padding: 30px;
    font-size: 50px;
    align-items: center;
    vertical-align: center;
    opacity: 0.9;
    animation: fadeIn 1s;
    pointer-events: none;
    height: max-content;
}

@media (max-width: 820px) {
    .button {
        top: 150px;
        width: 400px;
        height: 100px;
        font-size: 30px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}