name: CF CLI Action
on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
  deploy:
    runs-on: ubuntu-18.04
    needs: build
    steps:
    - uses: citizen-of-planet-earth/cf-cli-action@v2
      with:
        cf_api:  https://api.cf.eu10-004.hana.ondemand.com
        cf_username: ${{ secrets.CF_USER }}
        cf_password: ${{ secrets.CF_PASSWORD }}
        cf_org: sovanta AG TDD (Pay as you go)_hs-mannheim
        cf_space: Octo Pi
        command: push -f manifest.yml
