name: Automatic Deployment
on:
  push:
    branches:
    - deployment-test

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - name: Create Cache Folder
      uses: actions/cache@v2
      with:
        path: "./build"
        key: ${{ runner.os }}-build

    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - name: create build directory
      run: mkdir -p "./build"
    - name: Build the App
      run: npm run build
      working-directory: "./build"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: create build directory
      run: mkdir -p "./build"
    - name: Loading Cache Folder
      uses: actions/cache@v2
      with:
        path: "./build"
        key: ${{ runner.os }}-build

    - run: ls -l 
    - run: pwd 
    - name: Deploying to Cloud Foundry
      uses: citizen-of-planet-earth/cf-cli-action@v2
      with:
        cf_api:  https://api.cf.eu10-004.hana.ondemand.com
        cf_username: ${{ secrets.CF_USER }}
        cf_password: ${{ secrets.CF_PASSWORD }}
        cf_org: sovanta AG TDD (Pay as you go)_hs-mannheim
        cf_space: Octo Pi
        command: push -p "../OctoPi/build" -f manifest-prod.yml
