name: Automatic Test Execution and Result Deployment
on:
  schedule:
    - cron:  '0 6 * * *'
  push:
    branches:
      - testing

jobs:
  start-application: # TODO rename
    runs-on: ubuntu-latest

    container:
      image: node:18

    strategy:
      fail-fast: true
      matrix:
        node-version: [18.x]
    env:
      BROWSER: chrome

    steps:
      - name: Load Repo
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

     # - run: apt-get update && apt-get install google-chrome-stable

      - run: apt-get update && apt-get install -y libgconf-2-4 libatk1.0-0 libatk-bridge2.0-0 libgdk-pixbuf2.0-0 libgtk-3-0 libgbm-dev libnss3-dev libxss-dev libasound2 libx11-xcb-dev dbus
      - run: mkdir -p /var/run/dbus && dbus-daemon --config-file=/usr/share/dbus-1/system.conf --print-address
      - run: service dbus start
      - uses: browser-actions/setup-chrome@v1
#      - uses: browser-actions/setup-firefox@v1
        with:
          chrome-version: 'stable'
          firefox-version: 'latest'

      - run: chrome --headless --no-sandbox --disable-gpu
      - name: Install Dependencies
        run: npm ci
    
      - name: Run Tests
        run:  CHROMIUM_BIN=$(which chrome) npm run standalone-coverage-test


#      - name: Start Application
 #       run: |
  #        npm start &
   #       echo "Waiting for application to start"
    #      until $(curl --output /dev/null --silent --head --fail http://localhost:5173); do
     #       echo "."
      #      sleep 1
       #   done

#      - name: Run Mocha Tests
 #       uses: docker://selenium/standalone-firefox:4.0.0
  #      with:
   #       args: npm run coverage --detectOpenHandles

#      - name: Run Tests with Coverage
 #       run: npm run coverage --detectOpenHandles
        
     # - name: Stop Application
      #  run: kill $(lsof -t -i:5173) || echo "Application already stopped"

      - name: Create Test-View folder
        run: mkdir test-view
      - name: Create Test Statistics View
        run: chmod +x test-view-builder.sh && ./test-view-builder.sh

      - name: Deploy to Cloud Foundry
        uses: citizen-of-planet-earth/cf-cli-action@v2
        with:
          cf_api: https://api.cf.eu10-004.hana.ondemand.com
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: sovanta AG TDD (Pay as you go)_hs-mannheim
          cf_space: Octo Pi
          command: push -f manifest-test-statistics.yml

# deploy with github actions