name: Automatic Test Execution and Result Deployment
on:
  schedule:
    - cron:  '0 6 * * *'
  push:
    branches:
      - testing

jobs:
  start-application:
    runs-on: ubuntu-latest

    container:
      image: node:18
    
    services:
      firefox:
        image: selenium/standalone-firefox:3

    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Load Repo
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Start Application
        run: |
          npm start &
          echo "Waiting for application to start"
          until $(curl --output /dev/null --silent --head --fail http://localhost:5173); do
            echo "."
            sleep 1
          done
      - uses: browser-actions/setup-firefox@v1
      - name: Run Tests with Coverage
        run: npm run coverage --detectOpenHandles
        
      - name: Stop Application
        run: kill $(lsof -t -i:5173) || echo "Application already stopped"

      - name: Create Test-View folder
        run: mkdir test-view
      - name: Create Test Statistics View
        run: chmod +x test-view-builder.sh && ./test-view-builder.sh

      - name: Deploy to Cloud Foundry
        uses: citizen-of-planet-earth/cf-cli-action@v2
        with:
          cf_api: https://api.cf.eu10-004.hana.ondemand.com
          cf_username: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          cf_org: sovanta AG TDD (Pay as you go)_hs-mannheim
          cf_space: Octo Pi
          command: push -f manifest-test-statistics.yml
